$bg: #d7d7d7;
$bgl: #efefef;
$bgll: #fff;

$cd: #000;

html{
	height: 100%;
}
body{
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
#map_canvas{
	height: 100%;
	position: absolute;
	width: 100%;
}
.mainMenu{
	margin: 0 auto;
	padding-top: 1em;
	position: relative;
	width: 60%;
	z-index: 100;
}
.mainMenu h1{
	display: inline;
	font-size: 100%;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
.mainMenu a{
	background: #fff;
	border-right: 1px solid #eee;
	color: #333;
	display: block;
	float: left;
	padding: 0.7em 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 1px #d7d7d7;
	width: 19%;
}
.mainMenu a:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.mainMenu a:last-child{
	border-right: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.mainMenu a:hover{
	background: #333;
	border-color: #999;
	color: #fff;
}

/* utility */
.clearer{clear: both;}
.hidden{display: none;}

input{
	padding: 5px 7px;
	background: $bgl;
	border: 1px solid $bg;
	
	&:hover{
		background: $bgll;
		color: $cd;
	}
	&:focus{
		background: $bgll;
		color: $cd;
	}
	&[type=submit]:hover{
		cursor: pointer;
	}
}
label{
	padding-right: 10px;
}

/* GOOGLE MAP Info Box */
.infoBox{
	position: relative;
	
	.content{
		background: #fff;
		border: 2px solid $bg;
	/*	border-radius: 5px;*/
		padding: 10px;
	}
}
.infoBoxArrows{
	position: relative;
	height: 10px;
	width: 100%;
}
.infoBoxArrows div{
	position: absolute;
	width: 0;
	height: 0;
}
.infoBoxArrowInner{
	bottom: 2px;
	left: 130px;
	z-index: 110;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid $bgll;
}
.infoBoxArrowOuter{
	bottom: 0;
	left: 128px;
	z-index: 109;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid $bg;
}
