html{
	height: 100%;
}
body{
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
#map_canvas{
	height: 100%;
	position: absolute;
	width: 100%;
}
.mainMenu{
	margin: 0 auto;
	padding-top: 1em;
	position: relative;
	width: 60%;
	z-index: 100;
}
.mainMenu h1{
	display: inline;
	font-size: 100%;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
.mainMenu a{
	background: #fff;
	border-right: 1px solid #eee;
	color: #333;
	display: block;
	float: left;
	padding: 0.7em 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 1px #d7d7d7;
	width: 19%;
}
.mainMenu a:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.mainMenu a:last-child{
	border-right: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.mainMenu a:hover{
	background: #333;
	border-color: #999;
	color: #fff;
}
