body {
	background: #fff url('../img/noise.png') left top repeat;
	color: #333;
	font-family: 'Trebuchet MS', 'lucida grande', verdana, sans-serif;
	margin: 0;
}
a img {border:none;}
a {
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #266879;
	text-decoration: underline;
}
h1, h2, h3{
	color: #663300;
	font-family: 'Lobster', 'lucida grande', sans-serif;
}
.button{
	padding-right: 5px;
	margin: 0px 2px;
/*	border-right: 1px solid #888;*/
	background-repeat: no-repeat;
	background-position: 5px 0px;
	padding-left: 27px;
	height: 20px;
}
.button:hover{
	background-position: 5px -20px;
}
.edit{background-image: url('../img/edit.png');}
.delete{background-image: url('../img/delete.png');}

/* ********************************************************
************************* HEADER **************************
******************************************************** */
#header{
	width: 100%;
	text-align: center;
}
#header h1{
	margin: 0;
	padding: 60px 0 10px 0;
	font-size: 300%;
}

/* ********************************************************
************************* CONTENT *************************
******************************************************** */
#content{
	background: #ffeaab url('../img/noise.png') left top repeat;
/*	background: rgba(255, 230, 160, 0.5);*/
	border-radius: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5), 0 0 150px rgba(50, 50, 50, 0.1), inset 0 0 50px rgba(50, 50, 50, 0.1);
	max-width: 720px;
	margin: 20px auto;
	padding: 10px;
	text-shadow: 1px 1px #efda9b;
}
table{
	width: 100%;
	text-align: center;
}
table th{
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #efda9b;
}
table td{
	border-top: 1px solid #fffabb;
	border-bottom: 1px solid #efda9b;
	padding: 2px 0;
	width: 260px;
}
table .status{
	text-align: center;
	width: 50px;
}
table .exchange{
	text-align: center;
	width: 50px;
}
table .status input{
	width: 30px;
}
table .created, table .modified{
	text-align: right;
	width: 100px;
	color: #555
}
table .actions{
	width: 100px;
}
table input{
	text-align: center;
	border: 1px solid #fff;
	border-radius: 5px;
	background: rgba(50, 50, 50, 0.1);
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
	color: #000;
	outline: none;
	padding: 5px 10px;
}
table .submit input{
	background: rgba(250, 220, 160, 0.2);
	box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.5), inset 0 0 20px rgba(50, 50, 50, 0.1);
}
table .submit input:hover, table .submit input:focus{
	cursor: pointer;
	background: rgba(50, 50, 50, 0.05);
	box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
}
table .submit input:active{
	background: rgba(50, 50, 50, 0.08);
	box-shadow: inset 2px 2px rgba(50, 50, 50, 0.5);
}
/* ******************** STATUS ***************************/
td.status a{
	border: 1px solid #333;
	border-radius: 5px;
	display: block;
	height: 21px;
	width: 10px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
td.status a div{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}
.status0 div{
	background: #D00;
	height: 33%
}
.status1 div{
	background: #F70;
	height: 66%
}
.status2 div{
	background: #3D3;
	height: 100%
}

/* ******************** PAGING ***************************/
.paging{
	text-align: center;
	margin-top: 20px;
}
.paging p{
	font-size: 80%;
	color: #555;
	margin: 5px 0;
}
.paging span{
	padding: 0 2px;
	margin: 0 2px;
}
.prev, .next{
	margin: 0 10px;
}
.paging .disabled{
	color: #777;
}
/* ********************************************************
************************* FOOTER **************************
******************************************************** */
#footer{
	color: #000;
	font-size: 80%;
	margin: 50px auto;
	padding: 10px;
	width: 720px;
}


/* ********************************************************
************************* FLASH ***************************
******************************************************** */
#flashMessage{
	width: 100%;
	padding: 7px 0;
	text-align: center;
	box-shadow: inset 0 0 10px #333;
	color: #fff;
}
#flashMessage.success{
	background-color: #090;
}
#flashMessage.failure{
	background-color: #900;
}