<div class="bbNodes form">
<?php echo $this->Form->create('BbNode'); ?>
	<?php echo __('Edit Bb Node'); ?>	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('lat');
		echo $this->Form->input('lng');
		echo $this->Form->input('text');
		echo $this->Form->input('status');
	?>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('BbNode.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('BbNode.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List'), array('action' => 'index')); ?></li>
	</ul>
</div>
