<p>Zde se nachází mé pokusné projekty, které (ne)fungují naprosto bez záruky. Vše je pod licencí... řekněme MIT. Takže dělejte si co chcete, kopírujte co chcete, použijte co chcete... Na <a href="http://en.wikipedia.org/wiki/MIT_License" target="_blank">wiki stránce MIT licence</a> bude určitě nějaké lepší vysvětlení. :)</p>
<p>V patičce se nachází zatím veškeré projekty, na které jsem si našel čas. Enjoy!</p>